body, footer {
  text-align: center;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat';
}

p {
  color: #8f8f8f;
}

/* Heading */
@media(max-width: 767.99px) {
  .big-heading {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media(min-width: 768px) {
  .big-heading {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
  }
}

/* container-fluid */
@media(max-width: 767.99px) {
  .container-fluid {
    padding: 3% 5% 7%;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding: 3% 7% 7%;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding: 3% 20% 7%;
  }
}


/* section-color */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #ffff;
}

/* Navigation Bar */

#navigationBar .container {
  padding: 5% 10%;
}

@media(min-width: 1200px){
#navigationBar .container {
  margin : 0;
  padding : 3% 10%;
}
.navbarExtraLarge {
  position: relative;
  margin : 0 5% 0 80%;
 }
}

.navbar {
  padding-bottom: 0 0 4.5rem;
}

@media(max-width: 767.99px) {
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media(min-width: 768px) {
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
}

@media(min-width: 992px) {
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}


/* Download Button */
.button-download {
  margin: 5% 3% 5% 0;
}

/* Title text */
@media(max-width: 767.99px) {
  .title-container {
    padding: 5% 5%;
    text-align: center;
  }

  .title-heading {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 10%;
  }

  .title-image {
    margin-top: 10%;
    width: 70%;
    position: relative;
    transform: rotate(0);
  }
}

@media(min-width:768px) {
  .title-container {
    padding: 5% 10%;
    text-align: left;
  }

  .title-heading {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
  }

  .title-image {
    margin-left: 10%;
    position: absolute;
    transform: rotate(20deg);
    width:70%;
    z-index: 0;
  }
}

@media(min-width:992px) {
  .title-container {
    padding: 5% 15%;
    text-align: left;
  }

  .title-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
  }

  .title-image {
    margin: 8% 15%;
    width: 60%;
    margin-left: 30%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
  }
}

@media(min-width: 1200px){

  .title-container {
    padding: 5% 15%;
    text-align: left;
  }

  .title-heading {
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
  }

  .title-image {
    margin: 8% 15%;
    width: 60%;
    margin-left: 30%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
  }
  .button-download {
    margin: 10% 5%;
  }
}

/* Features */
#features {
  padding: 7% 10%;
  position: relative;
  z-index: 1;
}

.featurebox {
  padding: 2.5%;
}

#features .feature-heading {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonials-image {
  margin: 2%;
  width: 10%;
  border-radius: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

#testimonial-carousel {
  border: 0px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Prices card */
@media(max-width: 767.99px) {
  #pricing {
    padding: 3% 10%;
  }

  .card {
    margin: 3%;
    margin-top: 3%;
  }
}

@media(min-width:768px) {
  #pricing {
    padding: 7% 8%;
  }

  .card {
    margin-top: 8%;
  }
}

@media (min-width:992px) {
  #pricing {
    padding: 7% 10%;
  }
}

.h-100 {
  height: 100%;
}

.price {
  line-height: 1.5rem;
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  padding-top: 7%;
}

/* icon-footer */
#footer {
  padding: 7% 20%;
}

.icon-f {
  padding: 1.5%;
  color: black;
}

.p-footer {
  font-family: "Montserrat";
  padding: 2%;
}
